TCB_ENV_ID=pet-dev-d6gpc4gw88ca1aa43
CLOUDBASE_ENV_ID=pet-dev-d6gpc4gw88ca1aa43
CLOUDBASE_REGION=ap-shanghai
TCB_STORAGE_BUCKET=7065-pet-dev-d6gpc4gw88ca1aa43-1438790868
TCB_STORAGE_DOMAIN=7065-pet-dev-d6gpc4gw88ca1aa43-1438790868.tcb.qcloud.la
TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=
TENCENTCLOUD_REGION=ap-shanghai
WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_MINIPROGRAM_APPID=
WECHAT_MINIPROGRAM_APP_SECRET=
